[submodule "chenJac_hernandezCar_siniscalcoFra"]
	path = chenJac_hernandezCar_siniscalcoFra
	url = https://github.com/KarlWithK/my_tunes_mks.git
	branch = master
[submodule "chahalSub_hamzahMoh_zhangAle"]
	path = chahalSub_hamzahMoh_zhangAle
	url = https://github.com/ForestDweller014/Project_00
	branch = main
[submodule "siuVic_ganHao_natMic"]
	path = siuVic_ganHao_nathMic
	url = https://github.com/Michael-Nath/00_myTunes_dogs.git
	branch = main
[submodule "ku-benjetJer_linLei_zhengYul"]
	path = ku-benjetJer_linLei_zhengYul
	url = https://github.com/llin11/my_tunes
	branch = main
